@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300;800&display=swap');

/* 181D31 card inputs 
678983 text color
E6DDC4 main 
F0E9D2  */
body {
    padding: 0;
    margin: 0;
}


.buttonsAddClear>button:nth-of-type(1) {
    background-color: #181D31;
}

.buttonsAddClear>button:nth-of-type(2) {
    background-color: #181D31;
}

.main-color {
    font-family: 'Martian Mono', monospace;
    color: #181D31;
    font-size: xx-large;
    border-bottom: 1px solid #404040;

}

.main-color-title{
    font-family: 'Martian Mono', monospace;
    color: #E6DDC4;
    font-size: xx-large;
    border-bottom: 1px solid #404040;
}

.main-color:hover{
    color: #678983;
}
.main-color-title:hover{
    color: #678983;
}

.nav-style {
    background-color: #181D31;
    display: flex;
    justify-content: center;
    margin: auto;
}



.form-container {
    padding-top: 20px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #E6DDC4;
    max-width:100vh;/* 550px;*/
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.form-container > form > input
{
    color: #181D31;
    background-color: #E6DDC4;
    
}




.cardscontainer {
    padding-top: 20px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #181D31;
    max-width: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* form input styling */

input {
    border: none;
    text-decoration: none;
    border-bottom: 1px solid #181D31;
    color: #E6DDC4;
    background-color: transparent;
    margin-top: 12px;
    margin-bottom: 12px;
    /* max-width: 500px; */
    width: 80vh;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #181D31;
}


/* .form-button {
    border: none;
    text-decoration: none;
    color: #181D31;
    background-color: transparent;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 500px;
    font-family: 'Martian Mono', monospace;
    border-radius: 10px;
}

.form-button:hover {
    border: 1px solid #181D31;
    background-color: #E6DDC4;
    color: #E6DDC4;
} */

form>p {
    color: #181D31;
}

/*Cards Section*/

.cardslist {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 20px;
}

.cardslist div {
    padding: 5px;
    margin: 5px;
}

.btnremovediv {
    display: flex;
    justify-content: flex-end;
}

/* .btnremovebtn{
    border: none;
    display: none;

}
.btnremovebtn :hover + .btnremovebtn{
    display:block;
    color: red;
} */


.buttonsAddClear {
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}

.buttonsAddClear>button {
    /* padding: 5px; */
    margin: 5px;
    ;

}
.card-text
{
    overflow-y: hidden;
    max-height: 150px;
    font-size: small;
}
.demoData{
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
}
.cardtitle {
    display: flex;
    justify-content: space-between;
}
.cardName{
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -10px;
    font-family: 'Martian Mono', monospace;
    overflow-y: hidden;
    max-height: 100px;

}
.inserttimetext
{
    font-size:xx-small;
    display: flex;
    justify-content: flex-end;
}
.hide {
    display: none;
    color: #E6DDC4;
    font-size: large;
}

.hide button {
    border: none;

}

.hide button:focus 
{ outline: none; }


.btndiv {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E6DDC4;
}

.myDIV {
    background-color: #181D31;
    /* width: 25rem; */
    min-width: 300px;
    width: 300px;
    max-width: 300px;
    border-radius: 10px;
}

.myDIV:hover>.hide {
    display: block;
    color: red;
}

.card-body {
    color: #E6DDC4;
}

.myDIV:hover>.card-body>.btndiv>.hide {
    display: flex;

    /* color: red; */
}
 
button {
    background-color: transparent;
     border: none;
    outline: none;
    /* display: flex;
    flex-direction: column;
    justify-content: center;  */

}


.btncheckuncheck {
    display: flex;
    justify-content: flex-start;
} 

.footer-button {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}


.footer-button>button {
    /* padding: 5px; */
    /* margin: 5px; */
    background-color: #181D31;

}


.buttonStyle {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.errorStyle{
    color :red;
}

/*Checked Secion */
.cardChecked{
    background-color: #181D31;
    opacity: 0.7;
}

.titleCheked
{
    font-style: italic;
    text-decoration: line-through;
}



