@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300;800&display=swap');

/* 181D31 card inputs 
678983 text color
E6DDC4 main 
F0E9D2  */
body {
    padding: 0;
    margin: 0;
}


.buttonsAddClear>button:nth-of-type(1) {
    background-color: #181D31;
}

.buttonsAddClear>button:nth-of-type(2) {
    background-color: #181D31;
}

.main-color {
    font-family: 'Martian Mono', monospace;
    color: #181D31;
    font-size: xx-large;
    border-bottom: 1px solid #404040;

}

.main-color-title{
    font-family: 'Martian Mono', monospace;
    color: #E6DDC4;
    font-size: xx-large;
    border-bottom: 1px solid #404040;
}

.main-color:hover{
    color: #678983;
}
.main-color-title:hover{
    color: #678983;
}

.nav-style {
    background-color: #181D31;
    display: flex;
    justify-content: center;
    margin: auto;
}



.form-container {
    padding-top: 20px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #E6DDC4;
    max-width: 550px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.form-container > form > input
{
    color: #181D31;
    background-color: #E6DDC4;
    
}




.cardscontainer {
    padding-top: 20px;
    border-radius: 5%;
    margin-top: 20px;
    background-color: #181D31;
    max-width: 550px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.cardscontainer>div {
    width: 400px;
    text-align: center;
}

/* form input styling */

input {
    border: none;
    text-decoration: none;
    border-bottom: 1px solid #181D31;
    color: #E6DDC4;
    background-color: transparent;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 500px;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #181D31;
}


.form-button {
    border: none;
    text-decoration: none;
    color: #181D31;
    background-color: transparent;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 500px;
    font-family: 'Martian Mono', monospace;
    border-radius: 5px;
}

.form-button:hover {
    border: 1px solid #181D31;
    background-color: #E6DDC4;
    color: #E6DDC4;
}

form>p {
    color: #181D31;
}

/*Cards Section*/

.cardslist {
    display: flex;
    justify-content: space-around;
}

.cardslist div {
    padding: 5px;
    margin: 5px;
}

.btnremovediv {
    display: flex;
    justify-content: flex-end;
}

/* .btnremovebtn{
    border: none;
    display: none;

}
.btnremovebtn :hover + .btnremovebtn{
    display:block;
    color: red;
} */


.buttonsAddClear {
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}

.buttonsAddClear>button {
    /* padding: 5px; */
    margin: 5px;
    ;

}

.cardtitle {
    display: flex;
    justify-content: space-between;
}

.hide {
    display: none;
    color: #E6DDC4;
    font-size: x-large;
}

.hide button {
    border: none;

}

.btndiv {
    display: flex;
    justify-content: space-between;
}

.myDIV {
    background-color: #181D31;
}

.myDIV:hover>.hide {
    display: block;
    color: red;
}

.card-body {
    color: #E6DDC4;
}

.myDIV:hover>.card-body>.btndiv>.hide {
    display: flex;

    /* color: red; */
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.btncheckuncheck {
    display: flex;
    justify-content: flex-start;
}

.footer-button {
    display: flex;
    justify-content: flex-end;
}


.footer-button>button {
    /* padding: 5px; */
    margin: 5px;
    background-color: #181D31;

}


.buttonStyle {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.errorStyle{
    color :red;
}